<div id="main-card" class="card text-white bg-dark my-3 w-100" style="max-width: 55rem;">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
        <b>To-Do Itens:</b> 
      </div>
      <div>
        <a><i class="fa-solid fa-plus"></i></a>
      </div>
    </div>
  </div>
  <div class="card-body" id="todo-handler">
    @for (item of itens; track $index) 
    {
      <div class="my-1" (click)="show_detail(item)">
        <input  type="checkbox" name="{{item.content}}" id="{{item.id}}">  
        <label class="px-2" for="{{item.content}}"> {{item.title}} </label>
        <hr>
      </div>
    } @empty { <p>Not have itens.</p> }
  </div>  
</div>