<div class="card text-white bg-dark my-3 ms-2" style="max-width: 18rem;">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
        <b> Opções: </b> 
      </div>
      <div>
        <a><i class="fa-solid fa-plus"></i></a>
      </div>
    </div>
  </div>
  <div class="card-body">
    @for(item of itens; track $index) 
    {
      <div class="option-link">
        <a href="{{item.link}}"><i class="fa-solid fa-share"></i> {{item.content}}</a>
      </div>
    }
  </div>
</div>